.nav1{
    background-color: rgb(40, 39, 39);
    filter: opacity(.8);
    padding: 25px;
    width: 100%;
    z-index: 100;
    position: fixed;
}
.clr{
    color: white;
}
.mg:hover{
    background-color:rgb(245, 173, 17);
}
.dis{
    display: flex;
    gap: 20px;
}
/* offcanvas1 */
.ip{
    width: 350px;
    height: 45px;
  }
  .bet{
    padding:15px;
    padding-left: 10px;
  }
  .bet:hover{
    background-color:rgb(245, 173, 17);
    color: black;
  
  }
  .demo{
    width:auto;
    height: auto;
  }
  .ran{
    width:100%;
  }
  .bdrm{
   display:flex;
   gap: 20px;
   justify-content: center;
  }
  .bet2{
    
    width: 150px;
    padding:15px;
    padding-left: 15px;
  }
  .bet2:hover{
    background-color:rgb(245, 173, 17);
    color: black;
  
  }

  /* offcanvas 2  */
#demo1{
    
    height: 750px;
  }
  .hdr{
    padding-left: 40px;
    padding-top: 50px;
  }
  .hdr1{
    padding-left: 80px;
    padding-top: 10px;
  }
  /* <!-- Tab panes --> */
  .aref{
    text-decoration: none;
  }
  .li{
    list-style-type:square;
    font-weight: bolder;
  }
  .li:hover,.aref:hover{
  text-decoration: underline;
  }
  .ul{
    display: flex;
    gap: 80px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .fw{
    font-weight: bolder;
  }
  .box{
    background-color:  #0051a3;
    height: 750px;
    position: relative;
    top: -150px;
    z-index: -10;
  }
  .ctag{
    position: relative;
    top: -51px;
    right: 1430px;
  }
  .cent{
    position: relative;
    top: 80px;
  }
  .di{
    color: white;
  }
  .ls{
    position: relative;
    top: 110px;
    text-decoration: underline;
  }
  .lis{
    position: relative;
    top: 150px;
  }
  .ics{
    display: flex;
    gap: 20px;
    list-style-type: none;
    position: relative;
    top: 320px;
  }
  .mnu{
    color: white;
    text-decoration: none;
  }
  .mnu:hover{
    color: white;
    text-decoration: none;
  }
  .uls:hover{
    text-decoration: underline;
  }
  /* carousel */
  .imgdiv{
    position: relative;
    top: -100px;
  }
  .cii{
    /* border: 2px solid red; */
    visibility: hidden;
  }
  /* scroll down */
  .sd{
    position: relative;
    height: 50px;
    top: -100px;
    /* border: 2px solid black; */
   padding-top: 15px;
  }
  .sd1{
    color: black;
    text-decoration: none;
  }
  .sd1:hover{
    color: black;
    text-decoration: none;
  }
    /* div2 */
    .div2{  
      position: relative;
      top: -100px;
      height: 720px;
      background-color:#f6f6f6;
     
  }
  .since{
      padding-top: 120px;
      padding-left: 80px;
      /* border: 2px solid turquoise; */
  }
  .content{
      /* border: 2px solid red; */
      height:710px;
  }
  .rows{
      /* border: 2px solid yellow; */
      height: 410px;
  }
  .fws{
      font-weight: bolder;
      text-transform: uppercase;
  }
  .no{
      font-size: 50px;
      color: #0a53a0;
  
  }
  .topic{
      font-size: 25px;
      color: #0a53a0;
  }
  .ov{
      padding-left: 30px;
      padding-top: 20px;
  }
  .ttn{
      position: relative;
      left: 1200px;
      top: -55px;
      width: 180px;
      height: 48px;
      background-color:  #fed22f;
      border: none;
      padding: 15px;
      color: black;
  }
  .ttn:hover{
      background-color:  #004287;
      color: white;
  }
  .cc{
    color: #0a53a0;
  }
  /* carosel 2 */
.imgdiv1{
   
  height:auto;
  /* padding-bottom: 50px; */
  /* border: 2px solid salmon; */
}
.imgs{
  width: 70%;
  height: auto;
}
.cii2{
  visibility: hidden;
}
.ikons{
  width: 150px;
  /* border: 2px solid saddlebrown; */
  display:flex;
  gap: 9px;
  position: relative;
  top: -300px;
  left: 500px;
  /* background-color: #fff; */
}
.pre{
  /* border: 2px solid red; */
  width: 80px;
  height: 80px;
  position: relative;
  background-color:gray;
}
.nxt{
  /* border: 2px solid red; */
  width: 80px;
  height: 80px;
  position: relative;
  background-color:gray;
}
.pre:hover,.nxt:hover{
  border: 2px solid black;
}
.clsbt{
  position: relative;
  left: 35px;
  top: 449px;
  width: 240px;
  height: 80px;
  z-index: 5000;
  padding: 20px;
  background-color: #fed22f;
  border: unset;
}
.clsbt:hover{
background-color:  #004287;
color: white;
}
.div3{
  height: auto;
  background-color:#f6f6f6;
}
.d3{
  word-spacing: 5px;
  padding-left: 25px;
  padding-top: 15px;
}
.s1:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* footer */
.div4{
  background-color: rgb(6, 5, 5);
  height: auto;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
}
.cpt{
  text-transform: uppercase;
}
.cpl{
  text-transform: capitalize;
}
.ftr{
  list-style-type: none;
  display: flex;
  gap: 10px;
}


  @media only screen and (max-width: 800px){
    .since{
      height: auto;
      padding: unset;
    }
    .div2{
      height: auto;
    }
    .ov{
      height: auto;
      padding: unset;
      visibility: hidden;
    }
    .ttn{
       visibility: visible;
       position:unset;
       width: 100%;
       height: auto;
      
       
    }
    .cc{
      height: auto;
    }
    .bdrm{
      display: block;
    }
    .ip{
      width: 100%;
    }
    .ctag{
      position: unset;
    }
    #demo{
      height: auto;
      width: 100%;
    }
    #demo1{
     
      height: auto;
    }
    .box{
      width: 100%;
      height: auto;
      position: unset;
      z-index: unset;
    }
    .ls{
      position: unset;
    }
    .ics{
      position: unset;
      
    }
    .lis{
      position: unset;
    }
    .cent{
      position: unset;
    }
    .ul{
      padding: unset;
      display: block;
    }
    .imgdiv1{
      height: auto;
      width: 100%;
  }
  .imgs{
      width: 100%;
      height: auto;
  }
  .ikons{
      position: unset;
      width: 100%;
  }
  .pre,.nxt{
      position: unset;
      height: auto;
  }
  .clsbt{
      position: unset;
      width: 100%;
      visibility: hidden;
  }
  .emp{
    visibility: hidden;
  }
  }
